body{
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQF_eieut2cLog/company-background_10000/0/1580192191526?e=2159024400&v=beta&t=sKD25CvLWUKXRCSAKFqabRbdRxsgH08le9yMUl7DMyQ");

    background-repeat: no-repeat;

}

.left{




position:absolute;
top: 29px;
left: 113px;
}

.ok{

width: 208px;
height: 125px;




}
















